body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
}
.row {
  margin-top: 15px;
}
.card {
  border: 1px solid red;
  cursor: crosshair;
  background-image: url("../img/notecard.png");
  height: 300px;
  text-align: center;
}

#result1, #result2, #result3, #result4{
  display: none;
}
